#ifndef config_h
#define config_h

const bool includeQuotes = true; // Add Satoshi quotes to the receipt
const char* companyName = "LNbits"; // Your company name, this is shown on the receipt
const char* ssid = "[wifi ssid]"; // Your wifi SSID
const char* password = "[wifi password]"; // Your wifi password
const char* host = "legend.lnbits.com"; // Your LNbits host
const char* walletId = "[lnbits wallet id]"; // Your LNbits wallet id

const bool printToSerialOnly = false; // Set to true to only print to serial monitor for debugging

#endif